main ul {
  background: url("https://images.pexels.com/photos/32131630/pexels-photo-32131630/free-photo-of-scenic-road-through-canadian-rockies-in-jasper.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load");
  background-size: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
