p {
  color: orange;
  /* text aligins center */
  text-align: center;
}

a {
  /* to turn off all the unnesseary styles to text */
  text-decoration: none;
}
h1 {
  text-decoration: underline;
  text-transform: capitalize;
}
/* it is used to indentation or space in first before paragraphs / starting paragraph space  */
article {
  text-indent: 60px;
}
span {
  /* text shadow first 2px is x-axis next y-axis next  for blur and color */
  text-shadow: 2px 2px 2px green;
}





