* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  color: rgb(255, 0, 59);
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: red;
}
.box2 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: green;
}
.box3 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: blue;
}
.box4 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: pink;
}
.box5 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: yellow;
}
.box6 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: orange;
}
.box7 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: black;
}
.box8 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: white;
}

.box9 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: aqua;
}

.box9 {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: aqua;
}
